/* Estilos Generales */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    transition: background-color 0.3s, color 0.3s; /* Transici贸n suave al cambiar tema */
}

/* Estilos para la cabecera */
.header {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between; /* Espacia las secciones izquierda y derecha */
    align-items: center;
    background-color: #f8f8f8; /* Color de fondo de la cabecera en modo claro */
    position: fixed; /* Fija la cabecera en la parte superior */
    top: 0;
    left: 0;
    z-index: 1000; /* Asegura que la cabecera est茅 por encima de otros elementos */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra para distinguir la cabecera */
    box-sizing: border-box;
}

/* Secci贸n izquierda de la cabecera */
.header-left {
    display: flex;
    gap: 10px; /* Espacio entre los botones */
}

/* Secci贸n derecha de la cabecera */
.header-right {
    display: flex;
    align-items: center;
    margin-left: auto; /* Empuja la secci贸n derecha completamente a la derecha */
}

/* Ajuste del contenedor principal para evitar superposici贸n con la cabecera fija */
.container {
    background-color: white;
    width: 100%;
    max-width: 100%;
    margin: 80px 0 0; /* Ajusta el margen superior para no ocultar la cabecera */
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    box-sizing: border-box;
}

/* Resto de los estilos existentes */

.form-container {
    width: 70%;
    padding: 0 20px;
    box-sizing: border-box;
    text-align: center;
}

.table-container {
    width: 30%;
    padding: 0 20px;
    box-sizing: border-box;
}

.input-grande {
    width: 90%;
    padding: 15px;
    font-size: 44px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

label {
    font-size: 50px;
    font-weight: bold;
}

.suggestions-container {
    position: absolute;
    width: 90%; /* Igual al ancho del input */
    max-height: 200px;
    overflow-y: auto;
    background-color: #fff;
    border: 1px #ccc;
    z-index: 1000;
}

.suggestion-item {
    padding: 15px;
    font-size: 24px;
    cursor: pointer;
}

.suggestion-item:hover {
    background-color: #f0f0f0;
}

.boton-grande {
    --: #644dff;
    --: #4836bb;
    --: #654dff63;
    cursor: pointer;
    width: 184px;
    height: 48px;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 1.125em;
    font-weight: 800;
    letter-spacing: 2px;
    color: #fff;
    background: var(--);
    border: 2px solid var(--);
    border-radius: .75rem;
    box-shadow: 0 8px 0 var(--);
    transform: skew(-10deg);
    transition: all .1s ease;
    filter: drop-shadow(0 15px 20px var(--));
  }

  .boton-grande:active {
    letter-spacing: 0px;
    transform: skew(-10deg) translateY(8px);
    box-shadow: 0 0 0 var(--);
  }

.boton-secundario {
    padding: 10px 20px;
    font-size: 24px;
    border-radius: 6px;
    border: 1px solid #007bff;
    background-color: #fff;
    color: #007bff;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 10px;
}

.boton-excel {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: #307750;
    color: #fff;
    border-style: none;
    padding: 1em 2em;
    border-radius: 0.5em;
    overflow: hidden;
    z-index: 1;
    box-shadow: 4px 8px 10px -3px rgba(0, 0, 0, 0.356);
    transition: all 250ms;
  }
  .boton-excel > svg {
    margin-right: 1em;
  }
  .boton-excel::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0;
    border-radius: 0.5em;
    background-color: #469b61;
    z-index: -1;
    transition: all 350ms;
  }
  .boton-excel:hover::before {
    width: 100%;
  }  

#tabla-datos {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

#tabla-datos th, #tabla-datos td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#tabla-datos th {
    background-color: #f2f2f2;
}

.highlighted {
    background-color: #007bff; /* Color de fondo para la sugerencia resaltada */
    color: #fff; /* Color de texto para la sugerencia resaltada */
}

footer {
    background-color: white;
    color: black;
    text-align: center;
    padding: 10px 0;
}

footer a {
    color: black;
    text-decoration: underline;
}

footer a:hover {
    opacity: 0.8;
}

/* Estilos para el Modal */
.modal {
    display: none; /* Oculto por defecto */
    position: fixed; /* Permanecer en su posici贸n */
    z-index: 1000; /* Por encima de otros elementos */
    left: 0;
    top: 0;
    width: 100%; /* Ancho completo */
    height: 100%; /* Altura completa */
    overflow: auto; /* Habilitar scroll si es necesario */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* 10% desde arriba y centrado */
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* Ancho del contenido */
    border-radius: 8px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}

#formManual label {
    display: block;
    margin-top: 10px;
}

#formManual input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
}

#formManual button {
    margin-top: 15px;
    width: 100%;
}

/* Estilos para el Modal en Modo Oscuro */
.dark-theme .modal-content {
    background-color: #2c2c2c; /* Fondo oscuro para el modal */
    color: #ffffff; /* Texto claro en el modal */
}

.dark-theme #formManual label {
    color: #ffffff; /* Texto claro para los labels */
}

.dark-theme #formManual input {
    background-color: #444444; /* Fondo oscuro para inputs */
    color: #ffffff; /* Texto claro en inputs */
    border: 1px solid #666666; /* Borde m谩s claro */
}

/* Aumentar el tama帽o de fuente de los inputs y labels del formulario manual */
#formManual label {
    font-size: 20px;
}

#formManual input {
    font-size: 36px;
    padding: 12px;
}

#formManual input::placeholder {
    color: #999999; /* Color gris claro para los placeholders */
    opacity: 1; /* Asegura que el color sea el especificado */
}

/* Estilos para el bot贸n de eliminaci贸n */
.btn-eliminar {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red; /* Color del 铆cono en modo claro */
    transition: color 0.3s;
}

/* Cambiar el color del 铆cono en modo oscuro */
.dark-theme .btn-eliminar {
    color: lightcoral; /* Color del 铆cono en modo oscuro */
}

/* Estilos para el icono SVG */
.icon-eliminar {
    width: 24px; /* Ajusta el tama帽o seg煤n prefieras */
    height: 24px;
    transition: filter 0.3s;
}

/* Efecto hover para el bot贸n */
.btn-eliminar:hover .icon-eliminar {
    filter: brightness(0.8);
}

/* Eliminar el outline al enfocar el bot贸n */
.btn-eliminar:focus {
    outline: none;
}

/* Estilos para el tema oscuro */
body.dark-theme {
    background-color: #333333; /* Fondo oscuro */
    color: #ffffff; /* Texto claro */
    transition: background-color 0.3s, color 0.3s; /* Transici贸n suave */
}

.dark-theme .container {
    background-color: #2c2c2c; /* Fondo del contenedor en modo oscuro */
}

/* Estilos para el contenedor de sugerencias en tema oscuro */
.dark-theme .suggestions-container {
    background-color: #444; /* Fondo oscuro para el contenedor */
    border: 1px #666; /* Borde m谩s claro para el contenedor */
}

/* Estilos para los elementos de sugerencia en tema oscuro */
.dark-theme .suggestion-item {
    color: #fff; /* Color de texto blanco para las sugerencias */
}

.dark-theme .suggestion-item:hover {
    background-color: #555; /* Fondo m谩s claro al pasar el mouse */
}

.dark-theme .form-container {
    background-color: #2c2c2c;
}

.dark-theme .input-grande {
    background-color: #555555;
    color: #ffffff;
    border-color: #666666;
}

.dark-theme .boton-secundario {
    border-color: #0056b3;
    color: #ffffff;
    background-color: #444444;
}

.dark-theme #tabla-datos th {
    background-color: #2c2c2c;
    color: #ffffff;
}

.dark-theme #tabla-datos td {
    border-color: #666666;
}

.dark-theme .header {
    background-color: #2c2c2c; /* Fondo oscuro para la cabecera */
    color: #ffffff; /* Texto claro en la cabecera */
}

.dark-theme .header-left .boton-secundario {
    background-color: #444444;
    color: #ffffff;
    border-color: #2c2c2c;
}

.dark-theme .header-right .switch .slider {
    background-color: #000000; /* Color de fondo del slider en modo oscuro */
}

.dark-theme .header-right .switch .slider:before {
    background-color: rgb(219, 198, 2); /* Color del bot贸n del slider en modo oscuro */
}

.dark-theme .header-right .switch .slider::after {
    background-color: rgb(0, 0, 0); /* Color adicional para el slider en modo oscuro */
}

.dark-theme footer{
    background-color: #2c2c2c;
    color: #ffffff;
}

.dark-theme footer a{
    background-color: #2c2c2c;
    color: #ffffff;
}

/* El switch - la caja alrededor del deslizador */
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
}

/* Ocultar el checkbox HTML por defecto */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* El deslizador */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0);
    transition: .4s;
    border-radius: 30px;
}

/* Antes del deslizador */
.slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 20px;
    left: 0.3em;
    bottom: 0.3em;
    background-color: rgb(219, 198, 2);
    transition: .4s;
}

/* Cambio de color cuando el checkbox est谩 seleccionado */
input:checked + .slider {
    background-color: #000000;
}

/* Sombra al enfocar el slider */
input:focus + .slider {
    box-shadow: 0 0 1px #000000;
}

/* Transformaci贸n del deslizador cuando est谩 seleccionado */
input:checked + .slider:before {
    transform: translateX(1.5em);
}

/* Elemento adicional del slider */
.slider::after {
    width: 20px;
    height: 20px;
    left: 20%;
    top: 10%;
    border-radius: 50%;
    position: absolute;
    content: "";
    background-color: rgb(0, 0, 0);
    transition: ease 0.4s;
}

/* Cambio de posici贸n del elemento adicional cuando est谩 seleccionado */
input:checked + .slider::after {
    left: 80%;
    width: 0px;
    height: 0px;
}

/* Estilos para los botones y el interruptor en modos responsive */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width: 768px) {
    .form-container, .table-container {
        width: 100%;
        padding: 0 10px;
    }
}

@media (max-width: 768px) {
    .input-grande {
        font-size: 24px;
        padding: 10px;
    }
    .boton-grande {
        font-size: 24px;
        padding: 15px 30px;
    }
    label {
        font-size: 30px;
    }
}

@media (max-width: 768px) {
    #tabla-datos {
        font-size: 12px;
    }
    #tabla-datos th, #tabla-datos td {
        padding: 6px;
    }
}